@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backdrop-filter {
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Apply the fonts globally */
body {
  font-family: "Playfair", sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 800;
}

h3 {
  font-size: 18px;
  line-height: 1.75;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* sm */
@media (min-width: 640px) {
  h1 {
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 1.75;
  }

  h4 {
    font-size: 24px;
    line-height: 2rem;
  }

  p {
    font-size: 20px;
    line-height: 1.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

/* lg */
@media (min-width: 1024px) {
  h4 {
    font-size: 30px;
    line-height: 2.25rem;
    text-transform: capitalize;
  }

  p {
    font-size: 22px;
    line-height: 1.75rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  h1 {
    font-size: 30px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
